#inputBox {
	width: 100%px;
	height: 400px;  
}

#innerBox {
	width: 550px;
	height: 550px;
	margin: auto;
}
#innerBox2 {
	width: 1000px;
	height: auto;
	margin: auto;
}
#loan_InputBox {
}

#loan_InputBox_Title {
	float: left;
	width: 80px;
	height: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

#loan_Rate_Title {
	float: left;
	width: 80px;
	height: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

#loan_Duration_Title {
	float: left;
	width: 80px;
	height: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

#loan_Period_Title {
	float: left;
	width: 80px;
	height: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

#loan_payType_Title {
	float: left;
	width: 80px;
	height: 30px;
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
}
#loan_InputBox_data {
	float: left;
	padding-bottom: 15px;
	width: 80%;
	padding-left: 3px;
	height: 45px;
}
#loan_Rate_data {
	float: left;
	width: 80%;
	padding-bottom: 15px;
	padding-left: 3px;
	height: 45px;
}
#loan_Duration_data {
	float: left;
	width: 80%;
	padding-bottom: 15px;
	padding-left: 3px;
	height: 45px;
}
#loan_Period_data {
	float: left;
	width: 80%;
	padding-bottom: 15px;
	padding-left: 3px;
	height: 45px;
}
#loan_payType_data {
	float: left;
	width: 80%;	
	padding-top: 10px; 
	padding-left: 3px;
	height: 45px;
}



#can {
	float: left;
	width: 80%;	
	padding-top: 10px; 
	padding-left: 3px;
	height: 45px;
}

#data_Button {
	float: left;
	width: 100%;
}
#data_Value {
	float: left;
	width: 80%;
}

#Button_Box {
	float: left;
	
}

.backColor {
	background-color: #E1E966;
	color: black;
	border: 1px solid;
}

.backGround {
	background-color: #E97566;
	border: 1px solid;
}
.hi {
	height: auto;
	width: auto;
}

#outter {
	width: 100%;
	height: auto;
	display: none;
}


#innerd {
	width: 700px;
	height: 450px;
	margin: auto;
}


#a {
	width: 700px;
	height: auto;
	margin: auto;
}

#ganTitle {
	width: 105px;
	height: 20px;
	float: left;
	border: 1px solid;
	text-align: right;
}

#gan {
	width: 105px;
	height: 20px;
	float: left;
	border: 1px solid;
	text-align: right;
}

#InputBox_data {
	float: left;
	padding-top: 15px;
	width: 80%;
	padding-left: 3px;
	height: 45px;
}
#Rate_data {
	float: left;
	width: 80%;
	padding-top: 15px;
	padding-left: 3px;
	height: 45px;
}
#Duration_data {
	float: left;
	width: 80%;
	padding-top: 15px;
	padding-left: 3px;
	height: 45px;
}
#Period_data {
	float: left;
	width: 80%;
	padding-top: 15px;
	padding-left: 3px;
	height: 45px;
}
#payType_data {
	float: left;
	width: 80%;	
	padding-top: 10px; 
	padding-left: 3px;
	height: 45px;
}

#button {
	float: left;
	width: 100%;
	height: 100px;
}