* {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
}

footer {
    background-color: blue;
}

header, footer {
    display: flex;
    justify-content: center;
}
#main {
    display: flex;
    flex-direction: column;
}

.title, .footer {
    font-size: 2em;
    padding: 0.5em;
}

nav {
    width: 100%;
    padding: 10px;
}

section {
    flex-grow: 1;
    background-color: chartreuse;
}

section div {
    padding: 1em;
}

@media only screen and (min-width: 640px) {
    #main {
        flex-direction: row;
    }
    nav {
        width: 200px;
    }
    
}

@media only screen and (min-width: 720px) {
    nav {
        width: 300px;
    }
}