
<link rel="stylesheet" href="style2.css" type="text/css">
<script type="text/javascript">
	$(document).ready(function() {
		$('div#choose1').mouseenter(function() {
			$('div#hide1').show(300);
		});
		$('div#choose1').mouseleave(function() {
			$('div#hide1').hide(100);
		});
		$('div#choose2').mouseenter(function() {
			$('div#hide2').show(300);
		});
		$('div#choose2').mouseleave(function() {
			$('div#hide2').hide(100);
			t
		});
		$('div#choose3').mouseenter(function() {
			$('div#hide3').show(300);
		});
		$('div#choose3').mouseleave(function() {
			$('div#hide3').hide(100);
		});
	});
</script>
</head>
<header id="header">
	<div class="big">
		<div style="flex-grow: 1.2;">
			<b><a href="main.html">Primary Resort</a></b>
		</div>
		<div style="flex-grow: 0.4;"><a href="https://www.instagram.com/_ddk_photo/" target="_blank"><img src="picture/insta.png" width="100"></a></div>
		<div id="menubar">
			<div class="menuHide" id="choose1">
				<div class="menu">
					<a>INTRODUCE</a>
				</div>
				<div id="hide1">
					<div>
						<a href="aboutus_Room.html">Room</a>
					</div>
					<div>
						<a href="aboutus_Navigation.html">Address</a>
					</div>
				</div>
			</div>
			<div class="menu">
				<a href="adventure.html">ADVENTURE</a>
			</div>
			<div class="menuHide" id="choose2">
				<div class="menu">
					<a>BOOKING</a>
				</div>
				<div id="hide2">
					<div>
						<a href="Calender.jsp">Book</a>
					</div>
					<div>
						<a href="#">Administration</a>
					</div>
				</div>
			</div>
			<div class="menuHide" id="choose3">
				<div class="menu">
					<a>NOTICE</a>
				</div>
				<div id="hide3">
					<div><a href="Notice/mainNotice.jsp">Notices</a></div>
					<div><a href="reviews/mainReview.jsp">Reviews</a></div>
				</div>
			</div>
		</div>
	</div>
</header>