html {
	font-size: 20px;
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	padding: 0px;
	margin: 0px;
	padding-top: 100px;
	display: flex;
	flex-flow: column;
}

/* header////////////////////////// */
div.big {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	justify-content: space-around;
}

header {
	height: auto;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	font-weight: bold;
	background-color: white;
	color: black;
	z-index: 2;
	box-sizing: border-box;
}

#menubar {
	flex-grow: 1.2;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: #DF5555;
	cursor: pointer;
}

a:acvite {
	text-decoration: none;
	color: black;
}

b {
	font-family: 'Caveat', cursive;
	font-size: 50px;
	color: black;
	width: 200px;
	padding-left: 30px;
}

#hide1 {
	display: none;
	width: 80px;
	font-size: 20px;
}

#hide2 {
	display: none;
	width: 80px;
	font-size: 20px;
}

#hide3 {
	display: none;
	width: 80px;
	font-size: 20px;
}

.menuHide {
	flex-direction: column;
}

.menu {
	width: 120px;
}
/* ////////////////////////////////////////////// */
/* footer////////////////////////////////////////////// */
footer {
	width: 100%;
	background-color: #FFF9F4;
	color: black;
	font-family: monospace;
	bottom: 0;
	margin-bottom: 0px;
}

.foot {
	font-family: monospace;
	margin: auto;
	width: 400px;
	color: black;
	font-size: 15px;
	margin-bottom: 0px;
}

/* /////////////////////////////////////////////////// */
.about {
	height: 500px;
	margin-bottom: 100px;
}

.intro {
	background-color: white;
	height: 500px;
	width: 1300px;
	margin: auto;
	border: 1px solid;
	margin-block-end: 100px;
}

div.welcome {
	font-size: 200px;
	font-style: italic;
	margin-bottom: 150px;
	display: flex;
	flex-direction: column;
}

.WDR {
	font-style: italic;
	font-size: 150px;
	width: 100%;
}

.topFixBanner {
	text-align: left;
	background-color: #ffffff;
	padding: 20px 0px 20px 20px;
	width: 100%;
	background: repeat;
}

.topFixBannerFixed {
	position: fixed;
	top: 0px;
	text-align: left;
	padding-left: 20px;
}

.first {
	border: 1px solid red;
	float: left;
	width: 30%;
	box-sizing: border-box;
}

.second {
	border: 1px solid green;
	float: left;
	margin-left: 5%;
	width: 30%;
	box-sizing: border-box;
}

.Month {
	color: black;
}

.select {
	color: black;
}

.photo {
	width: 700px;
	height: 600px;
}

.season {
	font-family: fantasy;
	font-size: 30px;
	color: red;
}

.book {
	padding-bottom: 20px;
	padding-top: 20px;
}

.bookingFlex {
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;
}

.bookingCalender {
	width: 700px;
	margin: auto;
	margin-top: 100px;
}

.parent {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	flex-wrap: wrap;
	margin-top: 100px;
	margin-bottom: 100px;
}

.top {
	position: fixed;
	bottom: 200px;
	right: 0;
}

/* address //////*/
.address {
	margin-top: 100px;
	margin-bottom: 100px;
}

div.road {
	margin: auto;
	width: 300px;
	margin-bottom: 50px;
}

#map {
	width: 800px;
	height: 700px;
	margin: auto;
}
/*         //////*/

/* room    //////*/
.room {
	width: 100%;
	height: 1000px;
}

.row {
	display: flex;
	justify-content: space-around;
	height: 80px;
}

.price {
	display: flex;
	justify-content: space-around;
	height: 150px;
}

/*         //////*/
/*  notice  //////*/
th, td {
	border-bottom: 1px solid #444444;
	padding: 5px;
}

#none {
	border-bottom: none;
	border-top: none;
}

#button {
	background-color: azure;
	color: black;
	width: 75px;
	height: 30px;
}