<link rel="stylesheet" href="style2.css" type="text/css">
<script type="text/javascript">
	$('.top').click(function(){
		$('html').animate({scrollTop: 0}, 400);
		return false;
	});
</script>
<footer>
	<div class="foot">
		<div class="foot-tel">
			<span>TEL</span> <a href="tel:010-2931-3440">(010-2931-3440)</a>
		</div>
		<p class="add-info">
			<span>Primary Resort</span><br> <span>ADDRESS&nbsp;&nbsp;</span><a href="aboutus_Navigation.html">서울시 강동구
			성내로3가길 35 신이빌리지</a><br> <span>BUSINESS NUM</span> D-D-K (대표 : 신석환)<br>
		</p>
	</div>
</footer>

